body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  background: white;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
}
.navbar_logo {
  display: flex;
  padding: 20px;
  width: 125px;
}
.navbar_logout {
    position: relative;
    float: right;
    margin-right: 30px;
    margin-top: 15px;
    height: 40px;
    width: 90px;
    font-size: 13px;
    color: white;
    letter-spacing: 0.05em;
    font-weight: bold;
    -webkit-border-radius: 5px;
    background: #10E9FF;
}
.link {
  color: gray;
}
.dayActivities {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.dayActivities_activitiesList{
  color: rgb(100, 9, 100);
  display: flex;
  flex-direction: column;
}
.dayActivities h2{
  color: rgb(100, 9, 100);
  margin-left: 1vw;
}

.dayActivities_categoriesButtons{
  margin: 3px;
  background-color: rgb(100, 9, 100);
  color: white;
  border-radius: 5px;
}

.dayActivities_calendar {
  width: 30vw;
  min-width: 300px;
  height: 30vw;
  min-height: 300px;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
 }

.dayActivities_activityItem {
  padding: 1vw;
  margin: 1vw;
  width: 40vw;
  min-width: 200px;
  min-height: 30px;
  height: 5vw;
  border: 2px solid orange;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

