@import "Activitypage.css";

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  width: 100%;
  background: white;
  padding: 0 10px;
  position: fixed; 
  top: 0;
  z-index:2;
}
.navbar_logo {
  padding: 20px;
  min-width: 125px;
  width: 12vw;
}
.navbar_logout {
    margin-right: 30px;
    margin-top: 15px;
    height: 40px;
    width: 90px;
    font-size: 13px;
    color: white;
    letter-spacing: 0.05em;
    font-weight: bold;
    -webkit-border-radius: 5px;
    background: #10E9FF;
}

.login-page {
  display: flex;
  align-items: center;
}

.main_image{
  width: 60vw;
  min-width: 300px;
}
.ant-btn.login-page_login-button {
  margin-right: 30px;
  height: 40px;
  width: 90px;
  color: white;
  letter-spacing: 0.05em;
  font-weight: bold;
  background: #10E9FF;
}

.main-container{
  margin-top: 200px;
}

.link {
  color: gray;
}
.dayActivities {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.dayActivities_activitiesList{
  color: rgb(100, 9, 100);
  display: flex;
  flex-direction: column;
}
.dayActivities h2{
  color: rgb(100, 9, 100);
  margin-left: 1vw;
}

.dayActivities_edit{
  margin: 3px;
  padding: 5px;
  margin-left: auto;
  background-color: rgb(100, 9, 100);
  color: white;
  border-radius: 5px;


}

.dayActivities_categories{
  display:flex;
}
.dayActivities_categoriesButtons{
  margin: 3px;
  background-color: rgb(100, 9, 100);
  color: white;
  border-radius: 5px;
}

.dayActivities_calendar {
  width: 30vw;
  min-width: 300px;
  height: 30vw;
  min-height: 300px;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
 }

.dayActivities_activityItem {
  padding: 1vw;
  margin: 1vw;
  width: 40vw;
  min-width: 200px;
  min-height: 30px;
  height: 5vw;
  border: 2px solid orange;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.my-collapsible__toggle {
  font-size: 1rem;
  color: white;
  font-weight: bold;
  box-shadow: 0px 2px 2px gray;
  background: #F9B50F;
  margin-bottom: 20px;
  border-radius: 5px;
  min-width: 200px;

}
.my-collapsible__content {
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
}

.my-collapsible__content-inner {
  padding: 1rem;
  background-color: #F9B50F;
  border-radius: 10px;
  width: 450px;
  height: 80px;
}

.number {
  font-variant-numeric: tabular-nums;
  min-width: 3em;
  display: inline-block;
  text-align: left;
}
.datePicker_form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

button.ant-btn.datePicker_button {
    background-color: #10E9FF;
    border-color: #10E9FF;
    color: white;
    font-weight: bold;
    width: 100px;
    height: 35px;
    box-shadow: 0px 2px 2px grey;
}

input.ant-input.hours_form {
    width: 60%;
}


.my-collapsible {
    display: flex;
    flex-direction: column;
    align-items: center;
}



div.ant-col.ant-form-item-control-wrapper.ant-col-xs-24.ant-col-sm-16 {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}


.ant-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radio_style {
  display: flex;
  flex-wrap: wrap-reverse;
}

.ant-checkbox-wrapper{
  color: white;
  font-weight: bold;
}
.text_schedule_form{
  color: #4E2E7A;
  font-size: 20px;
}
