.dayActivities {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.dayActivities_activitiesList{
  color: rgb(100, 9, 100);
  display: flex;
  flex-direction: column;
}
.dayActivities h2{
  color: rgb(100, 9, 100);
  margin-left: 1vw;
}

.dayActivities_edit{
  margin: 3px;
  padding: 5px;
  margin-left: auto;
  background-color: rgb(100, 9, 100);
  color: white;
  border-radius: 5px;
}

.dayActivities_categories{
  display:flex;
}
.dayActivities_categoriesButtons{
  margin: 3px;
  background-color: rgb(100, 9, 100);
  color: white;
  border-radius: 5px;
}

.dayActivities_calendar {
  width: 30vw;
  min-width: 300px;
  height: 30vw;
  min-height: 300px;
  border: 2px solid #CCCCCC;
  border-radius: 3px;
 }

.dayActivities_activityItem {
  padding: 1vw;
  margin: 1vw;
  width: 40vw;
  min-width: 300px;
  min-height: 30px;
  height: 5vw;
  border: 2px solid orange;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}